@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,700&family=Orbitron:wght@767&family=Poppins:wght@600&display=swap&family=Montserrat&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
