.Landing {
  width: 100%;
  height: 100vh;
  background-color: #0c2d48;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: slowLoad 5s;
}
.Logo {
  background: linear-gradient(40deg, #0c2d48, #2e8bc0);
  background-size: 500%;
  animation: colorCycle 3s infinite alternate;
  border-radius: 50%;
}

.LogoName {
  font-family: "Orbitron", sans-serif;
  color: #2e8bc0;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0.2rem;
}
.InfoTxt {
  font-family: "Poppins", sans-serif;
  color: #b1d4e0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Go {
  font-family: "Exo", sans-serif;
  width: 175px;
  height: 50px;
  font-size: 20px;
  color: #0c2d48;
  background-color: #2e8bc0;
  border: none;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}
.Go:hover {
  background-color: #0c2d48;
  color: white;
  transition: ease all 0.5s;
}
.Go:before,
.Go:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #2e8bc0;
  transition: 0.5s ease all;
}
.Go:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.Go:hover:before,
.Go:hover:after {
  width: 100%;
  transition: 1s ease all;
}
.Go:focus {
  background-color: white;
  color: #b1d4e0;
}
@keyframes colorCycle {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes slowLoad {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
