.marketsPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	animation: slowLoad 3s;
	text-align: center;
}
.coinCont {
	margin: 20px;
	margin-top: 0;
	display: flex;
	flex-direction: column;
}
.infoArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../assets/crypPic.jpeg");
	border-radius: 0 0 5px 5px;
}
.welcome {
	font-family: "Montserrat", sans-serif;
	color: white;
	margin: 10px;
}
.greeting {
	margin: 10px;
	margin-bottom: 0;
	padding-bottom: 5px;
	font-family: "Montserrat", sans-serif;
	color: #b1d4e0;
}
.infoTitle {
	color: white;
	margin-top: 10px;
	text-decoration: underline;
	font-family: "Orbitron", sans-serif;
}
@keyframes slowLoad {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}
